@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #faf9f5;
    --foreground: #3d3929;
    --card: #faf9f5;
    --card-foreground: #141413;
    --popover: #ffffff;
    --popover-foreground: #28261b;
    --primary: #c96442;
    --primary-foreground: #ffffff;
    --secondary: #e9e6dc;
    --secondary-foreground: #535146;
    --muted: #ede9de;
    --muted-foreground: #83827d;
    --accent: #e9e6dc;
    --accent-foreground: #28261b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #dad9d4;
    --input: #b4b2a7;
    --ring: #c96442;
    --chart-1: #e57353;
    --chart-2: #49a295;
    --chart-3: #2f5162;
    --chart-4: #e8d76a;
    --chart-5: #f18c59;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d8;
    --chart-1: #2563eb;
    --chart-2: #16a34a;
    --chart-3: #ea580c;
    --chart-4: #8b5cf6;
    --chart-5: #ec4899;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
